/*.bin
/*.dat
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-en-gl.en.dix
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/stamp-h1
t/*.html
t/.git
t/config.sh.in
/test/*-output.txt
/ap_include.am
